// Variables globales
$primary-color: #8B0000;
$secondary-color: #2F4F4F;
$light-color: #fff;
$background-color: #f0f0f0;
$modal-bg-color: rgba(0, 0, 0, 0.8);

$border-radius: 8px;
$transition-time: 0.3s;
